<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usarios</h4>

                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" class="pointer">
                            <td>
                                <img [src]=" usuario.img | imagen" class="img-50 img-circle">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="usuarios.length === 0">
                    No hay registros
                </div>


            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sucursales</h4>

                <table class="table table-hover" *ngIf="sucursales.length > 0">
                    <tbody>
                        <tr *ngFor="let suc of sucursales" [routerLink]="['/sucursal']" class="pointer">
                            <td>
                                <img [src]=" suc.img | imagen:'suc'" class="img-50 img-circle">
                            </td>
                            <td>{{ suc.nombre }}</td>
                            <td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="sucursales.length === 0">
                    No hay registros
                </div>


            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Maquinas</h4>

                <table class="table table-hover" *ngIf="maqui.length > 0">
                    <tbody>
                        <tr *ngFor="let mala of maqui" [routerLink]="['/sucursal']" class="pointer">
                            <td>
                                <img [src]=" mala.img | imagen:'mala'" class="img-50 img-circle">
                            </td>
                            <td>{{ mala.mac }}</td>
                            <td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="maqui.length === 0">
                    No hay registros
                </div>


            </div>
        </div>
    </div>