<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">

        <div class="alert alert-info text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
            <br>
            <span>Espere    Porfavor</span>

        </div>

    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive table full-color-table full-muted-table hover-table">

                <h3 class="card-title">Departamentos: <small class="label label-success label-rounded">{{ totalRegistro }}</small></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Radio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Departa of dep">
                            <td>{{ Departa.nombre}}</td>
                            <td>
                                <!-- Example split danger button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger">{{Departa.player.nombre}}</button>
                                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" (click)="guardarDepartamento( Departa, p )" *ngFor="let p of play">{{p.nombre}}</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">None</a>
                                    </div>
                                </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>









</div>