<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">

        <div class="alert alert-info text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
            <br>
            <span>Espere    Porfavor</span>

        </div>

    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-6">
        <div class="card">
            <div class="card-body table-responsive">

                <h3 class="card-title">Departamentos: <small class="label label-success label-rounded">{{ totalRegistro }}</small></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Teste</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Departa of dep">
                            <td>{{ Departa.nombre}}</td>
                            <td>
                                <!-- Example split danger button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger">{{Departa.player.nombre}}</button>
                                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" (click)="guardarDepartamento( Departa, p )" *ngFor="let p of play">{{p.nombre}}</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">None</a>
                                    </div>
                                </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Central de control RADIOS</h4>
            <h6 class="card-subtitle">jjj <code>.tj</code></h6>
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Radio</th>
                            <th>Guardar</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let da of dep">
                            <td>{{da.numero}}</td>
                            <td>{{da.nombre}}</td>
                            <td>
                                <select [ngModel]="da.player" class="form-control">
                                                    <option disabled>{{da.player.nombre}}</option>
                                                    <option value="oi">legal</option>
                                                        </select>
                            </td>
                            <td>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>