<h1> LINUX Aposta.la <span class="badge badge-secondary">1</span></h1>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Uptime</th>
                            <th scope="col">Ip-Local</th>
                            <th scope="col">Ip-Publica</th>
                            <th scope="col">Mac</th>
                            <th scope="col">Offline/Min</th>
                            <th scope="col">Offline/Min2</th>
                            <th scope="col" align="right">Screenshot</th>
                            <!--   
                       
                       <th scope="col">Status</th>
                    -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let maq of _maquinasService.maquinaas">
                            <td>{{ maq.uptime }}</td>
                            <td>{{ maq.iplocal }}</td>
                            <td>{{ maq.ippublica }}</td>
                            <td>{{ maq.mac }}</td>
                            <td>10</td>
                            <td>{{ HoraAtual() - maq.updatedAt}}</td>
                            <td>
                                <a href="http://localhost:3000/img/maquinas/{{ maq.img }}"><img src="http://localhost:3000/img/maquinas/{{ maq.img }}" class="image-popup-no-margins" height="80" width="80"></a>
                                <td>
                                </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <table id="idDaTabela" border="0">
            <tr id="idTr" *ngFor="let maq of _maquinasService.maquinaas">
                <td id="IDbatchID">010203</td>
                <td id="IDproduct">Leite</td>
                <td id="IDbatchSize">30000</td>
                <td id="IDpriority">1</td>
                <td id="IDstartReq">03-31-2017 08:00:00</td>
                <td id="IDstatus">2019-01-02 11:01:22</td>
            </tr>
        </table>