<div class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="col s7">
                    <h3>Registro de ultima Entrada</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <th>Tarjeta</th>
                            <th>Cliente</th>
                            <th>Ultima Entrada</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entrada of tarjetas">
                                <td>{{ entrada._id}}</td>
                                <td>{{ entrada.cliente }}</td>
                                <td>{{ entrada.updatedAt }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>