<div class="row animated fadeIn"></div>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Puerta Piso nueve</h3>
            <h6 class="card-subtitle">No te olvides de cerrar la puerta al entrar/salir</h6>
            <div class="row justify-content-center animated fadeIn">
                <div class="col-15">
                    <button class="slk" (click)="abrirPorta()"></button>
                </div>
            </div>
        </div>
    </div>
</div>