<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarPlayer( input.value )" type="text" class="form-control" placeholder="Buscar usuario...">

            </div>
        </div>
    </div>
</div>





<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive">

                <h3 class="card-title">Players registrados: <small class="label label-success label-rounded">{{ totalRegistro }}</small></h3>
                <div class="text-right">
                    <button [routerLink]="['/playe','nuevo']" type="button" class="btn btn-circle btn-danger">
          <i class="fa fa-plus-circle">
          </i>
      </button>
                </div>

                <table class="table">
                    <thead>
                        <tr class="thead-dark">
                            <th>Nombre</th>
                            <th>Url</th>
                            <th>Detalles</th>
                            <th>Opciones</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let playersa of players">
                            <td>{{playersa.nombre}}</td>
                            <td>{{playersa.url }}</td>
                            <td>{{playersa.detalles }}</td>
                            <td>
                                <button [routerLink]="['/playe', playersa._id]" class="btn btn-success">
                              <i class="fa fa-edit"></i>
                            </button>

                                <button (click)="borrarPlayer( playersa )" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary"> 
                Anteriores
              </button>

                <button (click)="cambiarDesde(5)" class="btn btn-secondary"> 
                  Siguintes
                </button>


            </div>
        </div>
    </div>
</div>